In [1]:
# dependencies
import pandas as pd

## EXTRACT  & Merge historical 2019 data

In [2]:
df1 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201901-citibike-tripdata.csv")
df2 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201902-citibike-tripdata.csv")
df3 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201903-citibike-tripdata.csv")
df4 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201904-citibike-tripdata.csv")
df5 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201905-citibike-tripdata.csv")
df6 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201906-citibike-tripdata.csv")
df7 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201907-citibike-tripdata.csv")
df8 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201908-citibike-tripdata.csv")
df9 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201909-citibike-tripdata.csv")
df10 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201910-citibike-tripdata.csv")
df11 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201911-citibike-tripdata.csv")
df12 = pd.read_csv("Final_resources_NJ/2019/JC2019/JC-201912-citibike-tripdata.csv")

In [4]:
# check that pandas is reading .csv files and producing dataframes
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [37]:
# crete list of dfs and concatenating them into merged dataframe
list_dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]
df = pd.concat(list_dfs)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [8]:
# EXPORT TO NEW CSV
df.to_csv("Final_resources_NJ/2019/JC2019/ALL2019-citibike-NJ.csv", index=False)

# TRANSFORM DATA

In [38]:
# READ MERGED NEW CSV
df = pd.read_csv("Final_resources_NJ/2019/JC2019/ALL2019-citibike-NJ.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [39]:
# Elimination of mistakes or real trips not happened. Delete rows when trip duration is less than 90 seconds and 
# where start and end stations are the same
# Filter out records where users rented a bike but found that it wasn't working properly
df = df.loc[((df["tripduration"]>90) & (df["start station id"] != df["end station id"])),:]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [40]:
# Convert trip duration column from seconds to minutes
df["tripduration"] = [trip/60 for trip in df["tripduration"]]

# Filter out trips over 24 hours long
df = df.loc[df["tripduration"] < 1440, :]

In [41]:
# Rename trip duration column
df = df.rename(columns={"tripduration":"Trip Duration (min)"})

df.head()

,Trip Duration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.350000,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,8.416667,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,12.600000,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,26.250000,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,26.100000,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [42]:
# Rename values in gender column from 0, 1, 2 which are meaningless to male and female
gender = {0:"Unknown", 1:"Male", 2:"Female"}
df.gender = [gender[item] for item in df.gender]
df.head()

,Trip Duration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.350000,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,8.416667,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,12.600000,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,26.250000,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,26.100000,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [43]:
# Add ride id column to uniquely identify each ride
df["Ride ID"] = df["start station id"].map(str) + "_" + df["end station id"].map(str)
df.head()

,Trip Duration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Ride ID
0,3.350000,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214
1,8.416667,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638
2,12.600000,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192
3,26.250000,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638
4,26.100000,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638

In [44]:
df = df.rename(columns={"birth year": "Birth_Year"})

In [45]:
for col in df.columns:
    print(col)

Trip Duration (min)
starttime
stoptime
start station id
start station name
start station latitude
start station longitude
end station id
end station name
end station latitude
end station longitude
bikeid
usertype
Birth_Year
gender
Ride ID

In [49]:
#change data types
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])

In [50]:
df.dtypes

Trip Duration (min)               float64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
Birth_Year                          int64
gender                             object
Ride ID                            object
dtype: object

In [51]:
# Calculate age of riders from year where historically is collected
# empty list to save ages
ages = []
# loop to calculate age of riders and fill list
for i in df["Birth_Year"]:
    age = 2019 - i
    ages.append(age)

In [54]:
# ages

In [55]:
# df

In [56]:
# add list to dataframe as column
df['age'] = ages
df

,Trip Duration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,Birth_Year,gender,Ride ID,age
0,3.350000,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214,26
1,8.416667,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638,47
2,12.600000,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192,34
3,26.250000,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638,50
4,26.100000,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,4.716667,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,Male,3195_3679,29
404943,4.450000,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,Male,3186_3205,30
404944,6.316667,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,Male,3209_3185,35
404945,3.133333,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,Male,3639_3186,32
404946,5.433333,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,Male,3195_3280,31

In [57]:
# Delete all rows where user age is over 100
df = df.loc[df["age"] < 100]
df

,Trip Duration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,Birth_Year,gender,Ride ID,age
0,3.350000,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214,26
1,8.416667,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638,47
2,12.600000,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192,34
3,26.250000,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638,50
4,26.100000,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,4.716667,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,Male,3195_3679,29
404943,4.450000,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,Male,3186_3205,30
404944,6.316667,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,Male,3209_3185,35
404945,3.133333,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,Male,3639_3186,32
404946,5.433333,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,Male,3195_3280,31

In [58]:
# Divide users in age bins
bins = [0, 17, 25, 35, 50, 65, 100]
labels = ["0-17", "18-25", "26-35", "36-50", "51-65", "65+"]

df["age group"] = pd.cut(df["age"], bins, labels=labels)

C:\Users\Admin\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [59]:
df.head()

,Trip Duration (min),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,Birth_Year,gender,Ride ID,age,age group
0,3.350000,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,3183_3214,26,26-35
1,8.416667,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,3183_3638,47,36-50
2,12.600000,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,3183_3192,34,26-35
3,26.250000,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,3183_3638,50,36-50
4,26.100000,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,3183_3638,50,36-50

## LOAD

In [60]:
# save dataframe to csv as loading data for tableau
df.to_csv("Final_resources_NJ/2019/FINALALL2019-citibike-NJ.csv", index=False)